html,
body,
* {
   text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }  

:root {
  --light-blue: lightskyblue;
  --lighter-blue: lightblue;
  --light-purp: #d5acec;
  --lighter-purp: #ebccfd;
  --h1: 7.594rem;

}

form{

  text-align: center;
  margin: 250px; 

  
}

input {
  padding: 5px 10px;
  text-align: center;
  justify-content: space-between;
  font-size: 15px;
  justify-content: space-between;
  

}

h1{
  font-size: var(--h1);
  font-family: 'Fugaz One', sans-serif;
}


.toppage{
  background-color: var(--light-purp);

}
 .search-btn{
  border-radius: 25px;
  box-shadow: 5px 5px 1px;
  background-color: var(--lighter-purp);
 }

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


 .card{
  align-items: center;
  box-shadow: 10px 10px 6px 7px var(--light-blue);
  justify-content: space-between;
  background-color: var(--lighter-blue);
  border-radius: 25px;
  margin: 40px 60px;
  flex-direction: column;
  display: flex;
 }

 p{
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

 .movTitle{
  font-size: 30px;
 }

 .movImg{
  width: 65%;
 }